body {
  background: #fdfdfd;
}

.total-pages {
  text-align: center;
}

.loading {
  display: block;
  margin: auto;
  margin-top: 35%;
}

.invalid-feedback {
  display: block;
}

.border-red {
  border: 1px solid red;
}

.disable {
  pointer-events: none;
}
